certifi==2019.11.28
chardet==3.0.4
click==7.1.1
cycler==0.10.0
dnspython==1.16.0
Flask==1.1.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mongomock==3.19.0
numpy==1.18.4
Pillow==6.0.0
pymongo==3.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.23.0
sentinels==1.0.0
six==1.14.0
ujson==2.0.3
urllib3==1.25.9
Werkzeug==1.0.0
